<%= simple_form_for @property, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <div class="form-inputs">
    <%= f.input :address, error: false %>
    <%= f.input :city, error: false %>
    <%= f.input :state, error: false, as: :select, collection: ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"] %>
    <%= f.input :zip, error: false %>
    <%= f.input :start_date, as: :string, error: false, input_html: { value: @property.start_date.blank? ? nil : @property.start_date.strftime("%m/%d/%Y") } %>
    <%= f.input :end_date, as: :string, error: false, input_html: { value: @property.end_date.blank? ? nil : @property.end_date.strftime("%m/%d/%Y") } %>
    <%= f.input :bedrooms, error: false %>
    <%= f.input :bathrooms, error: false %>
    <%= f.input :sqft, error: false %>
    <%= f.input :price, error: false %>
    <%= f.input :deposit, error: false %>
    <%= f.input :user_id, as: :select, collection: User.agents, label: "Agent", error: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "pure-button pure-button-primary" %>
  </div>
<% end %>