<%= simple_form_for @property, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <div class="form-inputs">

  <div class="pure-g">
    <div class="pure-u-1-4" id="zillow-url-container">
      <%= f.input :zillow_url, error: false, label: "Zillow URL", autofocus: true %>
      <%= link_to "open", @property.zillow_url, "target" => "_blank", class: "pure-button", id: "open-zillow-url" if @property.zillow_url && @property.zillow_url != "" %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :bedrooms, error: false %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :bathrooms, error: false %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :sqft, error: false %>
    </div>

    <div class="pure-u-1-4">
      <%= f.input :address, error: false %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :city, error: false %>
    </div>
    <div class="pure-u-1-4">
       <%= f.input :state, error: false, as: :select, collection: ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"] %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :zip, error: false %>
    </div>

    <div class="pure-u-1-4">
      <%= f.input :start_date, as: :string, error: false, input_html: { value: @property.start_date.blank? ? nil : @property.start_date.strftime("%m/%d/%Y") } %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :end_date, as: :string, error: false, input_html: { value: @property.end_date.blank? ? nil : @property.end_date.strftime("%m/%d/%Y") } %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :price, as: :string, error: false, input_html: { "data-an-default" => @property.price } %>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :deposit, as: :string, error: false, input_html: { "data-an-default" => @property.deposit } %>
    </div>

    <div class="pure-u-1-4">
      <div class="input payment-input">
        <%= label_tag :payment %>
        <% if @property.payment && @property.payment != "" %>
          <%= link_to "view", @property.payment, "target" => "_blank", class: "pure-button", id: "view_payment" %>
        <% end %>
        <%= f.filepicker_field :payment, button_text: property_payment(@property), button_class: "upload-photo upload-payment pure-button subtle-button", onchange: "onPropertyPaymentUpload(event)" %>
      </div>
    </div>
    <div class="pure-u-1-4">
      <div class="input contract-input">
        <%= label_tag :contract %>
        <% if @property.contract && @property.contract != "" %>
          <%= link_to "view", @property.contract, "target" => "_blank", class: "pure-button", id: "view_contract" %>
        <% end %>
        <%= f.filepicker_field :contract, button_text: property_contract(@property), button_class: "upload-photo upload-contract pure-button subtle-button", onchange: "onPropertyContractUpload(event)" %>
      </div>
    </div>
    <div class="pure-u-1-4">
      <%= f.input :user_id, as: :select, collection: User.active.agents, label: "Agent", selected: @property.user ? @property.user.id : nil, include_blank: "", error: false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "pure-button pure-button-primary large round" %>
  </div>
<% end %>
