<div id="properties-assign">
	<%= render partial: "properties/quick_checkout" %>
	
	<h4>
		<%= @property.address %>, <%= @property.city %>, <%= @property.state %>
	</h4>
	<span class="pure-button pure-button-primary medium round" id="quick-checkout-button"><%= fa_icon "plus" %> Quick Checkout</span>

	<%= form_tag assign_property_path(@property), method: :get, id: "search-properties-assign", class: "pure-form pure-form-stacked" do %>
	<div class="form-inputs">
		<span class="input">
			<%= text_field_tag :query, params[:query], placeholder: "Search..." %>
			<%= hidden_field_tag :color, params[:color] if params[:color] %>
			<%= hidden_field_tag :vendor, params[:vendor] if params[:vendor] %>
			<%= hidden_field_tag :condition, params[:condition] if params[:condition] %>
			<%= hidden_field_tag :category, params[:category] if params[:category] %>
			<%= hidden_field_tag :size, params[:size] if params[:size] %>
		</span>
	</div>
	<div class="form-actions">
		<%= button_tag raw("#{fa_icon 'search'}"), class: "pure-button pure-button-primary" %>
	</div>
<% end %>

	<div id="filter">
		<div class="dropdown">
			<a id="color-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= params[:color] ? params[:color] : "all colors" %>
				<%= fa_icon 'caret-down' %>
			</a>
			<ul class="dropdown-menu" aria-labelledby="color-trigger">
				<% @colors.each do |color| %>
					<li><%= link_to color, assign_property_path(@property, color: color, vendor: params[:vendor], condition: params[:condition], category: params[:category], size: params[:size], query: params[:query]) %></li>
				<% end %>
				<li><%= link_to "all colors", assign_property_path(@property, color: nil, vendor: params[:vendor], condition: params[:condition], category: params[:category], size: params[:size], query: params[:query]) %></li>
			</ul>
		</div>

		<div class="dropdown">
			<a id="condition-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= params[:condition] ? params[:condition] : "all conditions" %>
				<%= fa_icon 'caret-down' %>
			</a>
			<ul class="dropdown-menu" aria-labelledby="condition-trigger">
				<% @conditions.each do |condition| %>
					<li><%= link_to condition, assign_property_path(@property, condition: condition, vendor: params[:vendor], color: params[:color], category: params[:category], size: params[:size], query: params[:query]) %></li>
				<% end %>
				<li><%= link_to "all conditions", assign_property_path(@property, condition: nil, vendor: params[:vendor], color: params[:color], category: params[:category], size: params[:size], query: params[:query]) %></li>
			</ul>
		</div>

		<div class="dropdown">
			<a id="category-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= params[:category] ? params[:category] : "all categories" %>
				<%= fa_icon 'caret-down' %>
			</a>
			<ul class="dropdown-menu" aria-labelledby="category-trigger">
				<% @categories.each do |category| %>
					<li><%= link_to category, assign_property_path(@property, category: category, vendor: params[:vendor], condition: params[:condition], color: params[:color], size: params[:size], query: params[:query]) %></li>
				<% end %>
				<li><%= link_to "all categories", assign_property_path(@property, category: nil, vendor: params[:vendor], condition: params[:condition], color: params[:color], size: params[:size], query: params[:query]) %></li>
			</ul>
		</div>

		<div class="dropdown">
			<a id="vendor-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= params[:vendor] ? params[:vendor] : "all vendors" %>
				<%= fa_icon 'caret-down' %>
			</a>
			<ul class="dropdown-menu" aria-labelledby="vendor-trigger">
				<% @vendors.each do |vendor| %>
					<li><%= link_to vendor, assign_property_path(@property, vendor: vendor, category: params[:category], condition: params[:condition], color: params[:color], size: params[:size], query: params[:query]) %></li>
				<% end %>
				<li><%= link_to "all vendors", assign_property_path(@property, vendor: nil, category: params[:category], condition: params[:condition], color: params[:color], size: params[:size], query: params[:query]) %></li>
			</ul>
		</div>

		<div class="dropdown">
			<a id="size-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= params[:size] ? params[:size] : "all sizes" %>
				<%= fa_icon 'caret-down' %>
			</a>
			<ul class="dropdown-menu" aria-labelledby="size-trigger">
				<% @sizes.each do |size| %>
					<li><%= link_to size, assign_property_path(@property, size: size, vendor: params[:vendor], condition: params[:condition], category: params[:category], color: params[:color], query: params[:query]) %></li>
				<% end %>
				<li><%= link_to "all sizes", assign_property_path(@property, size: nil, vendor: params[:vendor], condition: params[:condition], category: params[:category], color: params[:color], query: params[:query]) %></li>
			</ul>
		</div>
	</div>

	<table class="pure-table">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Vendor</th>
				<th>Vendor Item Number</th>
				<th>Size</th>
				<th>Color</th>
				<th>Category</th>
				<th>Condition</th>
				<th>Reserved</th>
				<th>Checkout</th>
				<th>Checkin</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @units.each do |unit| %>
				<%= render partial: "units/reserve", locals: { unit: unit, item: unit.item } %>
			<% end %>
		</tbody>
	</table>
</div>
