<%= simple_form_for @item, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <div class="form-inputs">
    <div class="input">
      <%= label_tag :photo %>
      <%= f.filepicker_field :photo, button_text: item_photo(@item), button_class: "upload-photo pure-button subtle-button", onchange: "onItemPhotoUpload(event)" %>
    </div>
    <%= f.input :name, error: false, autofocus: true %>
    <%= f.input :color, error: false %>
    <%= f.input :description, error: false %>
    <%= f.input :size, error: false, as: :select, collection: ["S", "M", "L"] %>
    <%= f.input :vendor_id, error: false, as: :select, collection: Vendor.active.by_name, selected: @item.vendor ? @item.vendor.id : nil, include_blank: "" %>
    <%= f.input :condition, error: false, as: :select, collection: ["new", "like new", "very good", "good", "acceptable", "unacceptable"] %>
    <%= f.input :category_id, error: false, as: :select, collection: @categories, include_blank: "", selected: @item.category ? @item.category.id : nil %>
    <%= f.input :purchase_price, as: :string, error: false, input_html: { "data-an-default" => @item.purchase_price } %>
    <%= f.input :sale_price, as: :string, error: false, input_html: { "data-an-default" => @item.sale_price } %>
    <%= f.input :height, error: false %>
    <%= f.input :length, error: false %>
    <%= f.input :width, error: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "pure-button pure-button-primary large round" %>
  </div>
<% end %>
