<tr id="item_<%= item.id %>">
	<td class="nowrap">
		<%= link_to zoom_path(item), remote: true do %>
			<%= filepicker_image_tag item.photo, fit: 'crop', w: 40, h: 40 %>
		<% end %>
	</td>
	<td>
		<%= link_to item.name, reservations_path(item_id: item.id), class: "pure-link" %>
	</td>
	<td>
		<%= item.vendor.name if item.vendor_id %>
	</td>
	<td><%= item.size %></td>
	<td><%= item.color %></td>
	<td><%= item.category.name %></td>
	<td><%= item.condition %></td>
	<td>
		<% if item.is_reserved?(@property) %>
			<% if item.item_reservation(@property).created_at %>
				<%= item.item_reservation(@property).created_at.strftime("%D") %>
			<% end %>
		<% end %>
	</td>
	<td>
		<% if item.is_reserved?(@property) %>
			<% if item.item_reservation(@property).checkout %>
				<%= item.item_reservation(@property).checkout.strftime("%D") %>
			<% end %>
		<% end %>
	</td>
	<td>
		<% if item.is_reserved?(@property) %>
			<% if item.item_reservation(@property).checkin %>
				<%= item.item_reservation(@property).checkin.strftime("%D") %>
			<% end %>
		<% end %>
	</td>
	<td class="nowrap">
		<% if item.is_reserved?(@property) %>
			<%= link_to "Reserved", Reservation.find_by_property_id_and_item_id(@property.id, item.id), method: :delete, class: "pure-button medium round subtle-button" %>
		<% else %>
			<%= link_to "Reserve", reservations_path(item_id: item.id, property_id: @property.id), method: :post, class: "pure-button pure-button-primary medium round" %>
		<% end %>
	</td>
</tr>
