<%= link_to new_item_path, class: "pure-button pure-button-primary medium round", id: "add-item-button" do %>
	<%= fa_icon 'shopping-cart', class: 'left-icon' %> Add Item
<% end %>

<div id="filter">
	<div class="dropdown">
		<a id="color-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= params[:color] ? params[:color] : "all colors" %>
			<%= fa_icon 'caret-down' %>
		</a>
		<ul class="dropdown-menu" aria-labelledby="color-trigger">
			<% @colors.each do |color| %>
				<li><%= link_to color, items_path(color: color, vendor: params[:vendor], condition: params[:condition], category: params[:category], size: params[:size]) %></li>
			<% end %>
			<li><%= link_to "all colors", items_path(color: nil, vendor: params[:vendor], condition: params[:condition], category: params[:category], size: params[:size]) %></li>
		</ul>
	</div>

	<div class="dropdown">
		<a id="condition-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= params[:condition] ? params[:condition] : "all conditions" %>
			<%= fa_icon 'caret-down' %>
		</a>
		<ul class="dropdown-menu" aria-labelledby="condition-trigger">
			<% @conditions.each do |condition| %>
				<li><%= link_to condition, items_path(condition: condition, vendor: params[:vendor], color: params[:color], category: params[:category], size: params[:size]) %></li>
			<% end %>
			<li><%= link_to "all conditions", items_path(condition: nil, vendor: params[:vendor], color: params[:color], category: params[:category], size: params[:size]) %></li>
		</ul>
	</div>

	<div class="dropdown">
		<a id="category-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= params[:category] ? params[:category] : "all categories" %>
			<%= fa_icon 'caret-down' %>
		</a>
		<ul class="dropdown-menu" aria-labelledby="category-trigger">
			<% @categories.each do |category| %>
				<li><%= link_to category, items_path(category: category, vendor: params[:vendor], condition: params[:condition], color: params[:color], size: params[:size]) %></li>
			<% end %>
			<li><%= link_to "all categories", items_path(category: nil, vendor: params[:vendor], condition: params[:condition], color: params[:color], size: params[:size]) %></li>
		</ul>
	</div>

	<div class="dropdown">
		<a id="vendor-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= params[:vendor] ? params[:vendor] : "all vendors" %>
			<%= fa_icon 'caret-down' %>
		</a>
		<ul class="dropdown-menu" aria-labelledby="vendor-trigger">
			<% @vendors.each do |vendor| %>
				<li><%= link_to vendor, items_path(vendor: vendor, category: params[:category], condition: params[:condition], color: params[:color], size: params[:size]) %></li>
			<% end %>
			<li><%= link_to "all vendors", items_path(vendor: nil, category: params[:category], condition: params[:condition], color: params[:color], size: params[:size]) %></li>
		</ul>
	</div>

	<div class="dropdown">
		<a id="size-trigger" class="trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<%= params[:size] ? params[:size] : "all sizes" %>
			<%= fa_icon 'caret-down' %>
		</a>
		<ul class="dropdown-menu" aria-labelledby="size-trigger">
			<% @sizes.each do |size| %>
				<li><%= link_to size, items_path(size: size, vendor: params[:vendor], condition: params[:condition], category: params[:category], color: params[:color]) %></li>
			<% end %>
			<li><%= link_to "all sizes", items_path(size: nil, vendor: params[:vendor], condition: params[:condition], category: params[:category], color: params[:color]) %></li>
		</ul>
	</div>
</div>

<table class="pure-table">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Vendor</th>
			<th>Size</th>
			<th>Color</th>
			<th>Category</th>
			<th>Condition</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @items %>
	</tbody>
</table>
