<tr class="unit" id="unit_<%= unit.id %>">
	<td class="nowrap">
		<% if item.photo && item.photo != "" %>
			<%= link_to zoom_path(item), remote: true do %>
				<%= filepicker_image_tag item.photo, fit: 'crop', w: 40, h: 40 %>
			<% end %>
		<% else %>
			<div class="image-placeholder"></div>
		<% end %>
	</td>
	<td>
		<%= unit.id %>
	</td>
	<td>
		<%= link_to item.name, reservations_path(unit_id: unit.id), class: "pure-link" %>
	</td>
	<td>
		<%= item.vendor.name if item.vendor_id %>
	</td>
	<td>
		<%= item.vendor_item_number %>
	</td>
	<td><%= item.size %></td>
	<td><%= item.color %></td>
	<td><%= item.category.name %></td>
	<td><%= unit.condition %></td>
	<td>
		<% if unit.is_reserved?(@property) %>
			<% if unit.unit_reservation(@property).created_at %>
				<%= unit.unit_reservation(@property).created_at.strftime("%D") %>
			<% end %>
		<% end %>
	</td>
	<td>
		<% if unit.is_reserved?(@property) %>
			<% if unit.unit_reservation(@property).checkout %>
				<%= unit.unit_reservation(@property).checkout.strftime("%D") %>
			<% end %>
		<% end %>
	</td>
	<td>
		<% if unit.is_reserved?(@property) %>
			<% if unit.unit_reservation(@property).checkin %>
				<%= unit.unit_reservation(@property).checkin.strftime("%D") %>
			<% end %>
		<% end %>
	</td>
	<td class="nowrap">
		<% if unit.is_reserved?(@property) %>
			<%= link_to "Reserved", Reservation.find_by_property_id_and_unit_id(@property.id, unit.id), method: :delete, class: "pure-button medium round subtle-button" %>
		<% else %>
			<%= link_to "Reserve", reservations_path(unit_id: unit.id, property_id: @property.id), method: :post, class: "pure-button pure-button-primary medium round" %>
		<% end %>
	</td>
</tr>
