<tr>
	<td><%= unit.condition %></td>
	<td><%= number_to_currency unit.purchase_price %></td>
	<td><%= number_to_currency unit.sale_price if unit.sale_price %></td>
	<td class="nowrap">
		<%= link_to edit_item_unit_path(@item, unit), class: "pure-button icon-button" do %>
			<%= fa_icon "pencil" %>
		<% end %>
		<%= link_to item_unit_path(@item, unit), method: :delete, data: { confirm: "Sure you want to delete this unit? "}, class: "pure-button icon-button" do %>
			<%= fa_icon "trash" %>
		<% end %>
	</td>
</tr>
