<div id="units-index">
	<h4>
		<% if @item.photo && @item.photo != "" %>
			<%= filepicker_image_tag @item.photo, fit: 'crop', w: 40, h: 40 %>
		<% else %>
			<span class="image-placeholder"></span>
		<% end %>
		<span class="item-name">
			<%= @item.name %> Units 
		</span>
		<span class="vendor-item-number">(VENDOR ITEM #<%= @item.vendor_item_number %>)</span>
	</h4>

	<%= link_to new_item_unit_path(@item, @unit), class: "pure-button pure-button-primary medium round", id: "add-unit-button" do %>
		<%= fa_icon 'plus', class: 'left-icon' %> 
		Add Unit
	<% end %>

	<table class="pure-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Status</th>
				<th>Condition</th>
				<th>Purchase Price</th>
				<th>Sale Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= render @units %>	
		</tbody>
	</table>
</div>
