<div id="sidebar">
	<div class="container">
		<%= link_to root_path, class: "#{active_path(root_path)}", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Properties</label>
			<span class="count"><%= Property.active.count %></span>
		<% end %>
		<%= link_to items_path, class: "#{active_path(items_path)}", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Inventory</label>
			<span class="count"><%= Item.active.count %></span>
		<% end %>
		<%= link_to categories_path, class: "#{active_path(categories_path)}", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Categories</label>
			<span class="count"><%= Category.active.count %></span>
		<% end %>
		<%= link_to versions_path, class: "#{active_path(versions_path)}", id: "activity_log_link", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Activity Log</label>
			<span class="count"><%= Version.all.count %></span>
		<% end %>
		<%= link_to users_path, class: "#{active_path(users_path)}", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Users</label>
			<span class="count"><%= User.active.count %></span>
		<% end %>
	</div>
	<div class="divider"></div>
	<div class="container">
		<%= link_to manage_checkin_reservations_path, class: "#{active_path(manage_checkin_reservations_path)}", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Checkin</label>
		<% end %>
		<%= link_to manage_checkout_reservations_path, class: "#{active_path(manage_checkout_reservations_path)}", "data-push" => "true", "data-target" => "#yield-container" do %>
			<label>Checkout</label>
		<% end %>
	</div>
	<div class="divider"></div>
	<div class="container">
		<%= link_to destroy_user_session_path, method: :delete do %>
			<label>Sign out</label>
		<% end %>
	</div>
</div>