<!DOCTYPE html>
<html>
  <head>
    <title>BlueLily</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- filepicker library -->
    <%= filepicker_js_include_tag %>
    <!-- purecss library -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: "layouts/sidebar" %>
      <div id="yield-container">
      	<%= render partial: "layouts/flash" unless flash.empty? %>
        <%= yield %>
      </div>
    <% else %>
      <%= render partial: "layouts/flash" unless flash.empty? %>
      <%= yield %>
    <% end %>
  </body>
</html>
